DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/haylen
SECRET_KEY=ganti-dengan-string-acak-panjang
ACCESS_TOKEN_EXPIRE_MINUTES=720
CORS_ORIGINS=*
OWNER_USERNAME=owner
OWNER_PASSWORD=ganti-password-ini
OWNER_NAME=Budi Santoso
